@import '../_variables.sass';

.header-content {
  margin: 100px 100px 100px 250px;
  color: $navy;
  h1 {
    font-size: 30px;
    font-weight: 500;
  }

  h2 {
    font-size: 21px;
    font-weight: 400;
    text-align: right;
  }
  p {
    font-size: 21px;
    font-weight: 400;
  }
}
/* Phone Adjustments */
@media screen and (max-width: 768px) {
  .header-content {
    margin: 40px 10px;
  }
}

.index-container {
  .our-services-container {
    background-color: $grey-lightest;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-container {
    background-color: $grey-lightest;
    display: flex;
    margin-bottom: -2.9vh;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;
  }
}
