.header-content {
  margin: 100px 100px 100px 250px;
  color: rgb(6, 68, 120);
  h1 {
    font-size: 30px;
    font-weight: 500;
  }

  h2 {
    font-size: 21px;
    font-weight: 400;
    text-align: right;
  }
  p {
    font-size: 21px;
    font-weight: 400;
  }
}
