@import '../_variables.sass';

.footerContainer {
  padding: 50px;
  background-color: #243841;
  color: white;
}

.footerContainer .footer-icon {
  color: $light-link;
  margin: 0 10px;
}

.footerContainer hr {
  background-color: $light-hover;
  height: 1px;
}
.footerContainer h3 {
  font-size: 24px;
  color: white;
  text-align: center;
}

.footerContainer .footerLinksContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footerContainer a {
  text-align: center;
  text-decoration: none;
  color: $light-link;
  border: 0;
}
.footerContainer a:hover {
  color: $light-hover;
}

.footerContainer p {
  text-align: center;
  text-decoration: none;
  margin: 20px;
  border: 0;
}
.footerContainer .footerLinks {
  margin: 0 10px;
}
