// Importing Bulma from node_modules
@import '../_variables.sass', '~react-bulma-components/src/index.sass';

body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: $dark-text;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}
